@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

*::selection {
    background-color: #F77B35;
    color: #FFFFFF;
}

body {
    color: #e0e0e0;
    background: #121316;
    background-image: url('/bg-glow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
